Source: nymea-experience-plugin-evdash
Section: utils
Priority: optional
Maintainer: chargebyte austria GmbH <developer@nymea.io>
Standards-Version: 4.6.0
Homepage: https://nymea.io
Build-Depends: debhelper,
               dpkg-dev,
               libnymea-dev (>= 1.14.0),
               nymea-dev-tools:native,
               qt5-qmake,
               qtbase5-dev,
               libqt5websockets5-dev


Package: nymea-experience-plugin-evdash
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea experiece plugin providing an EV Dashboard 
 This nymea experience plugin adds support for a customizable 
 electric vehicle monitor dashboard.
